@import "tailwindcss";

h1 {
  @apply border-l border-gray-500 text-xl pl-8 leading-12 flex items-center;
}

h2 {
  @apply text-4xl font-medium tracking-wide pb-8;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: auto;
  -moz-column-width: auto;
  column-width: auto;
  padding: 0 12px;
}

.gallery > div {
  break-inside: avoid;
  margin-bottom: 12px;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
